.cart-top .cart-warp .cart-step .cart-step-icon{width: 480px;height: 30px;background: transparent url(../img/adv/adv.png) no-repeat;margin-left: 71px;}




#sheng{
    width: 100px;
}
#shi{
    width: 140px;
}
#xian{
    width: 120px;
}