.login-head{border-bottom: 3px solid #ed1c24;width: 100%;}
.login-head-warp{width: 860px;margin: 0 auto;padding: 24px 100px 10px 0;overflow: hidden;}
.login-head-warp a.logo{display: block;width: 89px;height: 50px;float: left;background: url(../img/login/mbblogo.png) no-repeat;}
.login-head-warp span{color: #888;float: right;padding: 30px 0 0 0;}
.login-head-warp span a{padding: 0px 0px 0px 5px;font-family: "宋体";color: #888;}
.login-head-warp span a:hover{text-decoration: underline;}
.cont-warp{width: 960px;margin: 0 auto;height: 424px;position: relative;}
.cont-warp .login-link{width: 495px;height: 303px;position: absolute;top: 59px;left: 0;display: block;}
.cont-warp .login-dialog{width: 307px;background: #f5f5f5;border: 1px solid #e1e1e1;position: absolute;top: 59px;right: 100px;padding: 25px 28px;overflow: hidden;}
.cont-warp .login-dialog .login-title{border-bottom: 1px dotted #e1e1e1;padding: 0 0 10px;margin:0 0 10px;overflow: hidden;}
.cont-warp .login-dialog .login-title h3{font-size: 14px;float: left;font-weight: 600;}
.cont-warp .login-dialog .login-title span{display: block;color: #666;float: right;}
.cont-warp .login-dialog .login-title span a{color: red;}
.cont-warp .login-dialog .login-title span a:hover{text-decoration: underline;}
form .login-error{padding: 5px 0 5px 30px;color: red;height: 18px;text-align: left;}
form .login-error span{display: inline-block;background: url(../img/login/login_single_page.png) no-repeat 0 0;height: 19px;text-indent: 29px;display: none;}
form .dialog-main{padding: 10px 0 0;}
form .dialog-main li{padding: 0 0 15px;overflow: hidden;}
form .dialog-main li span{display: block;float: left;width: 70px;text-align: right;color: #666;font-size: 14px;padding: 2px 0 0;}
form .dialog-main li input{width: 165px;height: 16px;padding: 5px 0 5px 5px;border: 1px solid #e1e1e1;outline: none;}
form .dialog-main li a{color: red;padding: 4px 0 0 5px;}
form .dialog-main li a:hover{color: #c00;text-decoration: underline;}
form .dialog-main li .btn{width: 96px;height: 30px;color: white;border: none;padding: 0 30px 0 18px;text-align: left;vertical-align: middle;cursor: pointer;background: red url(../img/login/login_single_page.png) no-repeat 77px -166px;}
.quick-login{height:42px;color: #666;;}
.quick-login h4{padding: 10px 0 10px;}
.quick-login .quick-main{width: 350px;}
.quick-login .quick-main a{background: url(../img/login/login_single_page.png) no-repeat;display: inline-block;width: 73px;height: 19px;color: #999;vertical-align: middle;}
.quick-login .quick-main .quick-zfb{background-position: 0 -42px;}
.quick-login .quick-main .quick-qq{width: 17px; padding: 0 0 0 17px;background: url(../img/login/qq.png) no-repeat;}
.quick-login .quick-main .quick-sina{background-position: 0px -78px;width: 48px;padding: 0 0 0 20px;}
.quick-login .quick-main .quick-chinamobile{background-position: 0 -110px; width: 48px;padding:0 0 0 15px ;}
.quick-login .quick-main .quick-weixin{background-position: 0 -208px; width: 38px;padding: 0 0 0 18px;}
.login-foot{color: #666;padding: 25px 0;}
.login-foot p{margin: 0 auto;text-align: center;}
