<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录-麦包包官方网站</title>
<link rel="stylesheet" type="text/css" href="../static/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
<script type="text/javascript" src="../static/js/jquery-1.12.3.js"></script>
<script type="text/javascript" src="../static/js/login-jq.js"></script>
</head>
<body>
<div class="login-head">
	<div class="login-head-warp">
		<a href="{% url 'mbb:index' %}" class="logo"></a>
		<span>登录时遇到问题或有改进建议<a href="javascript:void(0);">点击这里反馈>></a></span>
	</div>
</div>
<div class="cont-warp">
	<a href="javascript:void(0);" class="login-link"><img src="../static/img/login/loginimg01.jpg"/></a>
	<div class="login-dialog">
		<div class="login-title">
			<h3 class="user-l">用户登录</h3>
			<span>现在还不是麦包包会员?<a href="{% url 'mbb:register' %}">立即注册</a></span>
		</div>
		<form action="" method="post" id="form-login">
        {% csrf_token %}
			<div class="login-error" id="login-error"><span>请填写手机号码或者邮箱</span></div>
			<ul class="dialog-main">
				<li><span>用户名：</span><input type="text" id="login-username" name="username"/>
                    <style>
                        #backspan{
                            font-size: 10px;
                            color: red;

                        }
                    </style>
                {% if num == 1 %}
                    <span id="backspan">账户不存在</span>
                {% elif num == 2 %}
                    <span id="backspan">密码错误</span>
                {% endif %}


                </li>
				<li><span>登录密码：</span><input type="password" id="login-pwd" name="password"/><a href="javascript:void(0);">找回密码</a></li>
				<li><span></span><input type="submit" value="马上登录" class="btn"/></li>  <script>
                            $('#login-username').focus(function(){
                                $('#backspan').hide()
                            })

                              $('#login-pwd').focus(function(){
                                $('#backspan').hide()
                            })

                        </script>
			</ul>
		</form>
		<div class="quick-login">
			<h4>使用合作网站帐号登录麦包包</h4>
			<div class="quick-main">
				<a href="javascript:void(0);" class="quick-zfb"></a>
				<a href="javascript:void(0);" class="quick-qq">QQ</a>｜<a href="javascript:void(0);" class="quick-sina">新浪微博</a>｜<a href="javascript:void(0);" class="quick-chinamobile">中国移动</a>｜<a href="javascript:void(0);" class="quick-weixin">微信</a>
			</div>
		</div>
	</div>
</div>
<div class="login-foot">
	<p>© 2007-2013 Mbaobao All Rights Reserved. 嘉兴市麦包包网络科技有限公司 版权所有，禁止非法复制 经营许可证编号：浙B2-20100425</p>
</div>
</body>
</html>
